<div id="masthead" style="background-color: rgba(255,255, 255,0);">  
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <h1 style="text-shadow: 3px 3px gray;">SignUp
            
          </h1>
        </div>
        
      </div> 
    </div><!-- /cont -->

    <div  style="visibility: hidden;" class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="top-spacer"> </div>
          </div>
        </div> 
      </div><!-- /cont -->
    
</div>
<div  class="container">
    <div class="row">
      
      <div  class="col-md-12"> 
        
        <div style="background-color:rgba(255, 255, 255, 0.70);border-top-left-radius: 30px;border-top-right-radius: 30px;padding:10px;" class="panel">
          <div   class="panel-body">
            
            
            
            <!--/stories-->

            
                <div class="row">    
                  <br>
                  <form action="" method="post" style="margin-left:30%;margin-top:5%;margin-bottom:5%;">
                    <table style="margin-bottom: 10px;">
                      <tr>
                        <td><label for="">Full Name</label></td>
                        <td> <input type="text" placeholder="Enter Your Full Name"></td>
                      </tr>
                      <tr>
                        <td> <label for="">Email</label></td>
                        <td><input type="email" placeholder="Enter Your Email"></td>
                      </tr>
                      <tr>
                        <td> <label for="">Phone</label></td>
                        <td> <input type="number" placeholder="Enter Your phone Number"></td>
                      </tr>
                      <tr>
                        <td><label for="">Password</label></td>
                        <td><input type="password" placeholder="Enter Your Password"></td>
                      </tr>
                      <tr>
                        <td><label for="">Confirm Password</label></td>
                        <td><input type="password" placeholder="Reenter Your Password"></td>
                      </tr>
                    </table>
                    
                    
                   

                     <input type="submit" class='button-blue' value="SignUp" style="margin-left:45%">
                     <br>
                    <br>
                     <a routerLink="/" class='other-a' style="margin-left:20%">I already have an account.</a>
                  </form>

                    
                    
                  </div>
                 </div>
                
                <hr>
               
           
           
            
            
            <!--/stories-->
           
            
          
            
          </div>
        </div>
                                                                                         
                                                      
                                                        
    </div><!--/col-12-->
       
</div>
    
  