<div id="masthead" style="background-color: rgba(255,255, 255,0);">  
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <h1 style="text-shadow: 3px 3px gray;">Add Author
            
          </h1>
        </div>
        
      </div> 
    </div><!-- /cont -->

    <div  style="visibility: hidden;" class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="top-spacer"> </div>
          </div>
        </div> 
      </div><!-- /cont -->
    
</div>
<div  class="container">
    <div class="row">
      
      <div  class="col-md-12"> 
        
        <div style="background-color:rgba(255, 255, 255, 0.70);border-top-left-radius: 30px;border-top-right-radius: 30px;padding:10px;" class="panel">
          <div   class="panel-body">
            
            
            
            <!--/stories-->

            
                <div class="row">    
                  <br>
                  <form action="" method="post" style="margin-left:30%;margin-top:5%;margin-bottom:5%;">
                    <table style="margin-bottom: 10px;">
                      <tr>
                        <td><label for="">Name</label></td>
                        <td> <input type="text" placeholder="Enter auther's name"></td>
                      </tr>
                      <tr>
                        <td> <label for="">First Book</label></td>
                        <td><input type="text" placeholder="Enter auther's first book"></td>
                      </tr>
                      <tr>
                        <td> <label for="">Notable Works</label></td>
                        <td> <input type="text" placeholder="Enter famous works by the author"></td>
                      </tr>
                      <tr>
                        <td><label for="">Image</label></td>
                        <td><input type="file" placeholder="Upload an image"></td>
                      </tr>
                      
                      <tr>
                        <td><label for="">Description</label></td>
                        <td><textarea name="description" placeholder="enter description about author" id="" cols="30" rows="10"></textarea></td>
                      </tr>
                    </table>
                    
                    
                   

                     <input type="submit" class='button-blue' value="Create Author" style="margin-left:45%">
                     <br>
                    <br>
                     
                  </form>


                    
                    
                  </div>
                 </div>
                
                <hr>
               
           
           
            
            
            <!--/stories-->
           
            
          
            
          </div>
        </div>
                                                                                         
                                                      
                                                        
    </div><!--/col-12-->
       
</div>
    
  